<div class="fight-container">
  <div class="page-left">
    <div class="title-left">
      <h1>
        {{heroName}}
      </h1>
    </div>
    <div class="content-text">
      <p>
        Description du hero
      </p>
      <p>
        PV de {{heroName}} : {{heroHP}}
      </p>
      <p>
        Défense de {{heroName}} : {{heroDef}}
      </p>
      <p>
        Attaque de {{heroName}} : {{heroAtk}}
      </p>
    </div>

    <div class="option-text">
      <p><a href="javascript:void(0)" (click)="turn('attack')">1 : Attaque</a></p>
      <p><a href="javascript:void(0)" (click)="turn('defend')">2 : Defense</a></p>
      <p><a href="javascript:void(0)" (click)="turn('castMagic')">3 : Magie</a></p>
    </div>

    <div class="bottom-text-left">
      <p>Info</p>
      <p>Info</p>
    </div>
  </div>


  <div class="page-right">
    <div class="title-right">
      <h1>
        Combat contre : {{monsterName}}
      </h1>
    </div>
    <div class="content-text">
      <p>
        Description du monstre
      </p>
      <p>
        PV de {{monsterName}} : {{monsterHP}}
      </p>
      <p>
        Défense de {{monsterName}} : {{monsterDef}}
      </p>
      <p>
        Attaque de {{monsterName}} : {{monsterAtk}}
      </p>
    </div>

    <div class="bottom-text-right">
      <p>Info</p>
      <p>Info</p>
    </div>
  </div>
</div>
