<div class="fight-container">
  <div class="page-left">
    <div class="title-left">
      <h1>
        {{heroName}}
      </h1>
    </div>
    <div class="content-text">
      <p class="stats">
        Vos stats :
        <img class="stats-img" ngSrc="assets/icon/coeur.png" alt="Description de l'image" height="512" width="512"> {{heroHP}},
        <img class="stats-img" ngSrc="assets/icon/bouclier.png" alt="Description de l'image" height="512" width="512"> {{heroDef}},
        <img class="stats-img" ngSrc="assets/icon/epee.png" alt="Description de l'image" height="512" width="512"> {{heroAtk}}
      </p>
    </div>

    <div class="content-img-left">
      <img ngSrc="assets/hero/crusader.sprite.defend.png" alt="Description de l'image" height="721" width="361"> <!--TODO img variable -->
    </div>

    <div class="option-text">
      <p><a href="javascript:void(0)" (click)="turn('attack')">1 : Attaque</a></p>
      <p><a href="javascript:void(0)" (click)="turn('defend')">2 : Defense</a></p>
      <p><a href="javascript:void(0)" (click)="turn('castMagic')">3 : Magie</a></p>
    </div>
  </div>


  <div class="page-right">
    <div class="title-right">
      <h1>
        Combat contre : {{monsterName}}
      </h1>
    </div>

    <div class="content-text">
      <p class="stats">
        <img class="stats-img" ngSrc="assets/icon/coeur.png" alt="Description de l'image" height="512" width="512"> {{monsterHP}}
      </p>
    </div>

    <div class="content-img-right">
      <img [src]="'assets/monsters/' + monsterImg" alt="Image de {{monsterName}}">
    </div>

  </div>

  <div id="lvl-up-message" class="message-box">
    <div class="popup-content">
      <p class="message">LEVEL UP !</p>
      <p class="message2">Vous avez gagné {{xpGain}} XP</p>
      <button id="close-lvl-up-message">Continuer</button>
    </div>
  </div>

  <div id="gain-xp-message" class="message-box">
    <div class="popup-content">
      <p class="message2">Vous avez gagné {{xpGain}} XP</p>
      <button id="close-gain-xp-message">Continuer</button>
    </div>
  </div>

  <div id="death-message" class="message-box">
    <div class="popup-content">
      <p class="message2">Vous êtes mort</p>
      <button id="close-death-message">Continuer</button>
    </div>
  </div>
</div>
