<!--div class="d-flex align-items-center fight-container"-->
<div class="fight-container">
  <div class="left-page">
    <div class="title">
      <h1>
        TITRE (assez) STYLE
      </h1>
    </div>
  <div class="story-text">
    <p>
      Il était une fois une suimulation dans un monde de fantasie avec des petis vilalges d'irreductibles gaullois
    </p>
    <div *ngFor="let opponent of opponents">
      <p>
        <span>Type: </span>
        <strong>{{ opponent.type }}</strong>
        <span> ID: </span>
        <strong>{{ opponent.id }}</strong>
        <span> NAME: </span>
        <strong>{{ opponent.name }}</strong>
        <span> Health Point: </span>
        <strong>{{ opponent.healthPoint }}</strong>
        <span> attack Point: </span>
        <strong>{{ opponent.attackPoint }}</strong>
        <span> Defense Point: </span>
        <strong>{{ opponent.defensePoint }}</strong>


      </p>
    </div>
  </div>


    <div class="option-text">
      <p>
        1 : Attaque
      </p>
      <p>
        2 : Defense
      </p>
      <p>
        3 : Magie
      </p>
    </div>

  </div>
</div>
