@use "theme";

.fight-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.left-page {
  position: absolute;
  top: 112px;
  left: 230px;
  width: 320px;
  height: 465px;
  background-color: rgba(255,0,0,0.3);
  //transform: translate(200%, 0%);
}

p {
  font-size: 15px;
  font-family: "Times New Roman" ;
  font-weight: bold;
  font-style: italic;
  text-align: justify;
  color: #6B4E32;
}

h1 {
  font-size: 25px;
  font-family: "Times New Roman" ;
  font-weight: bold;
  color: #6B4E32;
}

.title{
  position : relative;
  left : 70px;
  align-content: center;
}

.story-text {
  position: relative;
}

.option-text {
  position: absolute;
  bottom: 0px;
  background-color: rgba(0,255,0,0.3);
}

