<div class="story-container">
    <!-- Page gauche de la scène -->
    <div class="page-left">
        <!-- Titre à gauche -->
        <div class="title-left">
            <h1>
                {{ localisation }}
            </h1>
        </div>

        <!-- Contenu textuel -->
        <div class="content-text">
            <p>
                {{ textDescription }}
            </p>
        </div>

        <!-- Options de choix -->
        <div class="option-text">
            <a (click)="choice(1)" href="javascript:void(0)">1 : {{ option1 }}</a><br>
            <a (click)="choice(2)" href="javascript:void(0)">2 : {{ option2 }}</a><br>
            <a (click)="choice(3)" href="javascript:void(0)">3 : {{ option3 }}</a><br>
            <a (click)="choice(4)" href="javascript:void(0)">4 : {{ option4 }}</a>
        </div>
    </div>

    <!-- Page droite de la scène -->
    <div class="page-right">
        <!-- Titre à droite -->
        <div class="title-right">
            <h1>
                {{ localisation }}
            </h1>
        </div>

        <!-- Contenu image à droite -->
        <div class="content-img-right">
            <img [src]="'assets/location/' + storyImg" alt="Image de {{ localisation }}">
        </div>
    </div>
</div>
