@use "theme";

.story-container {
  position: absolute;
  width: calc(100% - 80px);
  aspect-ratio: 1920 / 1080;

  .page-left, .page-right {
    position: absolute;
  }

  .page-left {
    top: 15.2%;
    left: 19.8%;
    width: 27%;
    height: 70%;
  }

  .page-right {
    top: 15.2%;
    left: 53%;
    width: 28%;
    height: 70%;
  }

  .title-left, .title-right {
    position: relative;
  }

  .title-left {
    margin-left: 21.7%;
  }

  .title-right {
    margin-right: 20%;
  }

  .content-text {
    position: absolute;
    width: 100%;
    top: 10%;
  }

  .content-img-right {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 10%;
    align-items: center;
  }

  .option-text {
    position: absolute;
    width: 100%;
    bottom: 10%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  h1 {
    font-size: 2vw;
    margin: 0;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    color: #6B4E32;
  }

  p {
    font-size: 1vw;
    margin: 0;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    font-style: italic;
    text-align: justify;
    color: #6B4E32;
  }

  a {
    font-size: 1vw;
    margin: 0;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    font-style: italic;
    color: #6B4E32;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      border: 1px solid #b3a090;
    }
  }
}
