<div class="fight-container">
  <div class="page-left">
    <div class="title-left">
      <h1>
        {{localisation}}
      </h1>
    </div>
    <div class="content-text">
      <p>
        {{textDescription}}
      </p>
    </div>

    <div class="option-text">
      <p><a href="javascript:void(0)" (click)="choice(1)">1 : {{option1}}</a></p>
      <p><a href="javascript:void(0)" (click)="choice(2)">2 : {{option2}}</a></p>
      <p><a href="javascript:void(0)" (click)="choice(3)">3 : {{option3}}</a></p>
      <p><a href="javascript:void(0)" (click)="choice(4)">3 : {{option4}}</a></p>
    </div>

    <div class="bottom-text-left">
      <p>Info</p>
      <p>Info</p>
    </div>
  </div>


  <div class="page-right">
    <div class="title-right">
      <h1>
        Combat contre :
      </h1>
    </div>
    <div class="content-text">
      <p>
        Description du monstre
      </p>
      <p>
        PV de
      </p>
      <p>
        Défense de
      </p>
      <p>
        Attaque de
      </p>
    </div>

    <div class="bottom-text-right">
      <p>Info</p>
      <p>Info</p>
    </div>
  </div>
</div>
