<div class="story-container">
  <div class="page-left">
    <div class="title-left">
      <h1>
        {{localisation}}
      </h1>
    </div>
    <div class="content-text">
      <p>
        {{textDescription}}
      </p>
    </div>

    <div class="option-text">
      <p><a href="javascript:void(0)" (click)="choice(1)">1 : {{option1}}</a></p>
      <p><a href="javascript:void(0)" (click)="choice(2)">2 : {{option2}}</a></p>
      <p><a href="javascript:void(0)" (click)="choice(3)">3 : {{option3}}</a></p>
      <p><a href="javascript:void(0)" (click)="choice(4)">4 : {{option4}}</a></p>
    </div>

    <div class="bottom-text-left">
      <p>Infos ?</p>
    </div>
  </div>


  <div class="page-right">
    <div class="title-right">
      <h1>
        {{localisation}}
      </h1>
    </div>
    <div class="content-img-right">
      <img src="assets/location/tavern.png" alt="Description de l'image">
    </div>
  </div>
</div>
