@use "src/theme";

:host {
  display: flex;
  flex-direction: column;
  padding: 30px;

  h1 {
    display: flex;
    color: theme.$common-purple;
    font-size: xx-large;
    margin-right: 50px;
    margin-bottom: 0;
  }

  table {
    margin-top: 20px;
  }
}
