<div class="home-container">
  <div class="page-left">
    <div class="content-text">
      <h1>
        Bienvenue dans JavaQuest
      </h1>
      <p class="stats"> Cliquez zur le logo pour commencer votre aventure</p> <!-- TODO créer le début ed  l'aventure     -->
    </div>

    <div class="content-img-left">
      <img ngSrc="assets/logo_JQ.png" alt="Description de l'image" height="721" width="361">
    </div>

<!--    TODO création du personnage-->
  </div>


  <div class="page-right">
    <div class="content-img-right">
      <img ngSrc="assets/logo_JQ.png" alt="Description de l'image" height="721" width="361">
    </div>
  </div>
</div>
